body{
    margin: 0 ;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 0 17px;  
     font-size: 17px;
}
.links{
    font-size: 20px;
}

#image-search{
    margin: 10px;
}
hr{
    width: 99%;
    color:rgba(0, 0, 0, 0.2);
}
.form-header{
    color:red;
    margin-left: 19px;
}
.form-box{
    border: 2px solid black;
    display: block;
    padding: 10px;
    height: 500px; 
    
}
.input1, .input2, .input3, .input4{
    border: 1px hidden  black;
    margin: 12px 0;
    display: flex;
    

}
.numberInput{
    display: inline;
}